.App {
    text-align: center;
}

.App-background-avatar{
    background-image: url("https://avatars3.githubusercontent.com/u/58855306?s=460&u=2bff333a3e483be7e53173604300f74a02e70ebe&v=4");
    background-repeat: no-repeat;
    animation-name: animation-avatar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes animation-avatar {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

